<h3> Contact </h3>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Ex. John" [(ngModel)]="contact.name" name="name">
  </mat-form-field>

  <br />
  <mat-form-field class="example-full-width">
    <mat-label>Number</mat-label>
    <input matInput placeholder="Ex. 123456789" [(ngModel)]="contact.number" name="number">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Type</mat-label>
    <mat-select matNativeControl required [(ngModel)]="contact.type" name="type">
      <mat-option value="M">
      Mobile
      </mat-option>
      <mat-option value="L">
       Landing Phone
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>
  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="save()" style="width: 48%;"> Save</button>
    <button mat-raised-button style="width: 48%;" routerLink="/"> Cancel</button>
  </div>
</form>