<h3> Contact List </h3>

<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource " class="mat-elevation-z8" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"  > <special-td [element]="element" [field]="'name'" [content]="element.name"></special-td></td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Number </th>
      <td mat-cell *matCellDef="let element"> <special-td [element]="element" [field]="'number'" [content]="element.number"></special-td> </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
      <td mat-cell *matCellDef="let element"> <i class="material-icons">
          {{(element.type=='L')?'phone':'stay_current_portrait'}}
        </i></td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Actions
      </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="primary" mat-raised-button routerLink="/edit/{{element.position}}"><i class="material-icons">
          edit
          </i></button>
        <button mat-button color="warn" mat-raised-button (click)="openDialog(element)"><i class="material-icons">
          delete
          </i></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<a mat-fab id="add-button" color="primary" mat-fab-bottom-right routerLink="/edit/0"><i class="material-icons">
    add
  </i></a>